{% load static %}
{% if user.user == 'staff' %}
<div class="header">
    <div class="header-left" style="padding-top: 20px;">
       <a href="{% url 'staff_view' %}">
       <img src="{% static 'assets/img/logo.png'%}" width="100" height="100">
       </a>
       <strong>Staff</strong>
    </div>
   
    <div class="top-nav-search" style="padding-top: 20px;color: blue;">
       <h4>ABC HOSPITAL</h4>
    </div>
    <a class="mobile_btn" id="mobile_btn">
    <i class="fas fa-bars"></i>
    </a>
    <ul class="nav user-menu">
       
       <li class="nav-item dropdown has-arrow">
          <a href="" class="dropdown-toggle nav-link" data-toggle="dropdown">
          </a>
          <div class="dropdown-menu">
             <div class="user-header">
                <div>
                </div>
                <div class="user-text">
                  <h6>{{first_name}} {{last_name}}</h6>
                   <p class="text-muted mb-0">Staff</p>
                </div>
             </div>
             <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
       </li>
    </ul>
 </div>

 {% elif user.user == 'doctor'  %}
 <div class="header">
   <div class="header-left" style="padding-top: 20px;">
      <a href="/">
      <img src="{% static 'assets/img/logo.png'%}" width="100" height="100">
      </a>
      <strong>Doctor</strong>
   </div>
  
   <div class="top-nav-search" style="padding-top: 20px;color: blue;">
      <h4>ABC HOSPITAL</h4>
   </div>
   <a class="mobile_btn" id="mobile_btn">
   <i class="fas fa-bars"></i>
   </a>
   <ul class="nav user-menu">
     
      <li class="nav-item dropdown has-arrow">
         <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
         </a>
         <div class="dropdown-menu">
            <div class="user-header">
               <div class="user-text">
                  <h6>{{first_name}} {{last_name}}</h6>
                  <p class="text-muted mb-0">Doctor</p>
               </div>
            </div>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
         </div>
      </li>
   </ul>
</div>
{% elif user.user == 'patient'  %}
<div class="header">
   <div class="header-left" style="padding-top: 20px;">
      <a href="">
      <img src="{% static 'assets/img/logo.png'%}" width="100" height="100">
      </a>
      <strong>Patient</strong>
   </div>
  
   <div class="top-nav-search" style="padding-top: 20px;color: blue;">
      <h4>ABC HOSPITAL</h4>
   </div>
   <a class="mobile_btn" id="mobile_btn">
   <i class="fas fa-bars"></i>
   </a>
   <ul class="nav user-menu">
     
      <li class="nav-item dropdown has-arrow">
         <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">

         </a>
         <div class="dropdown-menu">
            <div class="user-header">
               <div class="user-text">
                  <h6>{{first_name}} {{last_name}}</h6>
                  <p class="text-muted mb-0">Patient</p>
               </div>
            </div>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
         </div>
      </li>
   </ul>
</div>

{% endif %}