{% extends 'base.html' %}

{% block content %}
<h1 class="text-center text-info">Patient Details</h1>
<div>
<table class="table table-hover table-center mb-0 datatable table-bordered">
    <tr>
        <th>Patient Name</th>
        <td>{{appointment.pat_id.first_name}} {{appointment.pat_id.last_name}}</td>
        <th>Patient Contact Number</th>
        <td>{{appointment.pat_id.mobile_no}}</td>
    </tr>
</table>
</div>
<br>
<h3 class="text-center text-warning">Prescriptions</h3>
<div class="text-center mt-5">
<table class="table table-hover table-center mb-0 datatable table-bordered">
    <thead>
        <tr>
            <th>Medicine</th>
            <th>Dosage</th>
            <th>Instructions</th>
        </tr>
    </thead>
    <tbody>
{% for i in prescr %}
        <tr>
            <td>{{ i.medicine }}</td>
            <td>{{ i.dosage }}</td>
            <td>{{ i.instructions }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
<br>
    {% if user.user == 'doctor' %}
<h2>Create New Prescription</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Submit</button>
</form>
    {% else %}
    <button class="btn btn-success" onclick="window.print()">Print</button>
    {% endif %}
    </div>
{% endblock %}